.container-fluid(ng-controller='LoginController', style="text-align:center;padding-bottom:5em;background-image: url('./applications/img/main_back.jpg');background-size:100% 100%;")
    if !user
        article(style="margin:5vw;")
            ng-form(name="validate", ng-submit="Regist(items)" style="height:60%;")
                .row.col-xs-9.col-xs-offset-3.col-sm-6
                    .box.box-primary
                        .box-header.with-border
                            h5.box-title #{message.regist}
                        .box-body
                            .col-xs-8.col-xs-offset-0
                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.control-label #{message.nickname}
                                        span(ng-messages="validate.displayName.$error")
                                            span.error-message(ng-message="required") #{message.required}
                                            span.error-message(ng-message="maxlength") #{message.long}
                                        input.center-block.form-control.no-zoom(ng-model='items.displayName', type='text', name='displayName', placeholder='xxxxxxx', required, ng-maxlength="30")

                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.control-label #{message.mail}
                                        span(ng-messages="validate.username.$error")
                                            span.error-message(ng-message="required") #{message.required}
                                            span.error-message(ng-message="pattern") #{message.invalid_mail_format}
                                            span.error-message(ng-message="maxlength") #{message.long}
                                        input.center-block.form-control.no-zoom(ng-model='items.username', type='email', name='username', placeholder='xxxxxxx@domain.net', required, ng-maxlength="30", ng-pattern="/^[a-z0-9-._.+]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i")

                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.control-label #{message.password}
                                        span(ng-messages="validate.password.$error")
                                            span.error-message(ng-message="required") #{message.required}
                                            span.error-message(ng-message="minlength") #{message.short}
                                            span.error-message(ng-message="maxlength") #{message.long}
                                        input.center-block.form-control.no-zoom(ng-model="items.password", type="password", name="password", placeholder='#{message.over4under30}', required, ng-minlength="4", ng-maxlength="30")

                                .col-xs-12.col-xs-offset-3
                                    .form-group
                                        label.control-label #{message.retypepassword}
                                        input.center-block.form-control.no-zoom(ng-model="items.retypepassword", compare-to="items.password", type="password", name="retypepassword", placeholder='Retype Password', required, ng-minlength="4", ng-maxlength="30")
                                        span(ng-messages="validate.retypepassword.$error")
                                            span.error-message.arrow_box(ng-message="required") #{message.required}
                                            span.error-message(ng-message="compareTo") #{message.password_missmatch}
                                            span.error-message(ng-message="minlength") #{message.short}
                                            span.error-message(ng-message="maxlength") #{message.long}
                            .row
                                .col-xs-12
                                    .error-message(style="text-align:center;font-weight:bold;") {{message}}
                            .col-xs-6.col-xs-offset-3
                                .col-xs-12.center-block
                                    button.btn.btn-primary.col-xs-12(type="button", ng-click='Regist(items);validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") #{message.regist}
    else
        article(style="margin:5vw;height:auto;")
            h1#title.limelight(style="text-align:left;font-size: 14.0vw;font-weight: 700;margin: 1rem 0 2vw 0;") #{status}
            p.quicksand(style='margin: 1vw 0 2vw 0;font-size: 6vw;color:#d0d0d0;text-shadow: 0 0.3rem 0 #7f8c8d;font-weight: 100;') #{message.welcome}
        //article(style="margin:5vw;")
            button.btn(ng-click="Notify('Hello!!')")
                i.fa.fa-trash
                span.hidden-xs.hidden-sm Notify
