.modal-content
    .modal-header
        span.h5.modal-title #{message.build}
        span.pull-right
                button.btn.btn-xs.btn-info(ng-click="Next()", ng-disabled="progress")
                    i.fa.fa-chevron-down
                button.btn.btn-xs.btn-success(ng-click="Prev()", ng-disabled="progress")
                    i.fa.fa-chevron-up
    .modal-body
        ng-form(name="validate")
            .row
                .col-xs-10
                    .form-group
                        label(for="name") #{message.name}
                        span(ng-messages="validate.name.$error")
                            span.error-message(ng-message="required") #{message.required}
                            span.error-message(ng-message="maxlength") #{message.long}
                        input.form-control.no-zoom#name(ng-model="name", type="text", name='name', required, ng-maxlength="50")

                .col-xs-12
                    ul.nav.nav-pills
                        li(ng-repeat="layout in layouts", ng-disabled="progress")
                            div.select-item(ng-class="{selected: hover}", ng-mouseenter="hover = true", ng-mouseleave="hover = false", ng-click="Get(layout)",style="height:12rem;width:8rem;", ng-hide="progress")
                                div(style="height:4rem;")
                                    img.center-block.thumbnail(ng-src="/layouts/layout/svg/{{layout.name}}", style="border: 1px #404040 solid;max-height: 4rem;max-width: 6rem;")
                                div(style="height:8rem;text-align:center;")
                                    .row
                                        .col-xs-12
                                            div(style="font-size:1rem;") {{layout.name | limit:20 }}
                                        .col-xs-12
                                            div(style="font-size:0.5rem;") ({{layout.content.title | limit:20 }})
                                        .col-xs-12
                                            div.hidden-xs(style="font-size:0.5rem;") {{layout.modify | date:'yyyy/MM/dd' }}

                            div(style="height:12rem;width:8rem;", ng-show="progress")
                                div(style="height:4rem;")
                                    img.center-block.thumbnail(ng-src="/layouts/layout/svg/{{layout.name}}", style="border: 1px #404040 solid;max-height: 4rem;max-width: 6rem;")
                                div(style="height:8rem;text-align:center;")
                                    .row
                                        .col-xs-12
                                            div(style="font-size:1rem;") {{layout.name | limit:20 }}
                                        .col-xs-12
                                            div(style="font-size:0.5rem;") ({{layout.content.title | limit:20 }})
                                        .col-xs-12
                                            div.hidden-xs(style="font-size:0.5rem;") {{layout.modify | date:'yyyy/MM/dd' }}

                .col-xs-12
                    include ../../../systems/common/error_message

    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") #{message.cancel}
                    button.btn.btn-primary(type="button" ,ng-click='answer();', ng-disabled="progress || validate.$invalid", aria-label="") #{message.ok}