aside.main-sidebar.sidebar-color-invert(ng-controller='LoginController')
    section.sidebar(style="margin-top:12px;")
        if user
            .user-panel
                .pull-left.image
                    img.img-circle(src="/files/api/" + user.userid + "/" + user.username, style="width:5rem;height:5rem;", alt='')
                .pull-left.info
                    p
                        a(href='#') #{user.local.nickname}
                    p
                        a(href='#')
                            i.fa.fa-circle.text-success
                            |  #{user.type}

            ul.sidebar-menu
                li
                    a(href="/profile" data-toggle="tooltip" data-placement="bottom" title="Profile")
                        i.fa.fa-user.fa-fw
                        span Profile
                li
                    a(href="/articles" data-toggle="tooltip" data-placement="bottom" title="Articles")
                        i.fa.fa-list.fa-fw
                        span Articles

                li
                    a(href='/forms/builder' data-toggle="tooltip" data-placement="bottom" title="Builder")
                        i.fa.fa-pencil
                        | Forms Builder
                li
                    a(href='/forms' data-toggle="tooltip" data-placement="bottom" title="Player")
                        i.fa.fa-eye
                        | Forms Player


                li
                    a(href='/layouts/builder' data-toggle="tooltip" data-placement="bottom" title="Builder")
                        i.fa.fa-pencil
                        span Layouts Builder
                li
                    a(href='/layouts' data-toggle="tooltip" data-placement="bottom" title="Player")
                        i.fa.fa-eye
                        span Layouts Player

                //li
                    a(href="/images" data-toggle="tooltip" data-placement="bottom" title="Images")
                        i.fa.fa-picture-o.fa-fw
                        span Images

                li
                    a(href="/groups" data-toggle="tooltip" data-placement="bottom" title="Groups")
                        i.fa.fa-users.fa-fw
                        span #{message.groups}


                each module in config.modules
                    if module.type == "optional"
                        if module.description.display
                            li
                                a(href='/' + module.name data-toggle="tooltip" data-placement="bottom" title='${module.description.display}')
                                    i.fa.fa-eye
                                    span #{module.description.display}

                li
                    a(href='/resources/builder' data-toggle="tooltip" data-placement="bottom" title="Builder")
                        i.fa.fa-pencil
                        span #{message.resources} #{message.builder}
                //li
                    a(href='/resources' data-toggle="tooltip" data-placement="bottom" title="Player")
                        i.fa.fa-eye
                        | Player
                li
                    a(href="/files" data-toggle="tooltip" data-placement="bottom" title="Files")
                        i.fa.fa-picture-o.fa-fw
                        span #{message.system} #{message.files}

                li
                    a(href="/accounts" data-toggle="tooltip" data-placement="bottom" title="Accounts")
                        i.fa.fa-user.fa-fw
                        span #{message.system} #{message.accounts}

                li
                    a(href="/analysis" data-toggle="tooltip" data-placement="bottom" title="Analysis")
                        i.fa.fa-line-chart.fa-fw
                        span #{message.system} #{message.analysis}
                li
                    a(href="/setting" data-toggle="tooltip" data-placement="bottom" title="Setting")
                        i.fa.fa-sliders.fa-fw
                        span #{message.system} #{message.setting}
                li
                    a(href="#", ng-click="showMemberDialog();" data-placement="bottom" data-toggle="tooltip" title="Members")
                        i.fa.fa-user-plus.fa-fw
                        span #{message.members}
                if user.provider == "local"
                    li
                        a(href='#', ng-click="showPasswordDialog()" data-placement="bottom" data-toggle="tooltip" title="Password")
                            i.fa.fa-key.fa-fw
                            span #{message.password}
                li
                    a(href="/front" data-toggle="tooltip" data-placement="bottom" title="Front")
                        i.fa.fa-coffee.fa-fw
                        span  #{message.front}

                //if user.type == "System"
                    li
                        a(href='/backoffice' data-toggle="tooltip" data-placement="bottom" title="BackOffice")
                            span.fa-stack
                            i.fa.fa-cog.fa-spin.text-info
                            i.fa.fa-cog.fa-spin.fa-rotate-180.text-danger
                        span BackOffice
                li
                    a(href='#', ng-click="Logout()" data-toggle="tooltip" data-placement="bottom" title="Logout")
                        i.fa.fa-sign-out
                        span #{message.logout}
                li
                    a(href='#' data-toggle="tooltip" data-placement="bottom" title="Close")
                        input(type="checkbox" data-layout="sidebar-collapse")
                        span &nbsp;&nbsp;#{message.close}
        else
            .user-panel
                .pull-left.image
                    img.img-circle(src="systems/files/files/blank.png", style="width:5rem;height:5rem;", alt='')

            ul.sidebar-menu
                li
                    a(href="#", ng-click="showLoginDialog()" data-toggle="tooltip" data-placement="bottom" title="Login")
                        i.fa.fa-sign-in.fa-fw
                        span #{message.login}
                li
                    a(href='#', ng-click="showPasswordDialog()" data-placement="bottom" data-toggle="tooltip" title="Password")
                        i.fa.fa-key.fa-fw
                        span #{message.password}

                if config.regist.user
                    li
                        a(href="#", ng-click="showRegisterDialog({})" data-toggle="tooltip" data-placement="bottom" title="Regist")
                            i.fa.fa-user-plus.fa-fw
                            span #{message.regist}