div
    .modal-header
        span.h5.modal-title Field
    .modal-body
        .row.row-padded
            .col-xs-12(style="word-wrap:break-word;word-break:break-all")
                ng-form(name="validate")
                    .row
                        .col-xs-12
                            .form-group
                                label(for="name") #{message.key}
                                span(ng-messages="validate.title.$error")
                                    span.error-message(ng-message="required") #{message.required}
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#name(ng-model="key", type="text", name='title', required, ng-maxlength="50")
                    .row
                        .col-xs-4
                            .form-group
                                label(for="min") #{message.min}
                                span(ng-messages="validate.min.$error")
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#min(ng-model="min.value", type="number", name='min', ng-maxlength="30")
                        .col-xs-4
                            .form-group
                                label(for="max") #{message.max}
                                span(ng-messages="validate.max.$error")
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#max(ng-model="max.value", type="number", name='max', ng-maxlength="30")
                        .col-xs-4
                            .form-group
                                label(for="step") #{message.step}
                                span(ng-messages="validate.step.$error")
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#step(ng-model="step.value", type="number", name='step', ng-maxlength="30")

            .col-xs-12
                include ../../../../../systems/common/error_message

    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") #{message.cancel}
                    button.btn.btn-primary(type="button" ,ng-click='answer();validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") #{message.ok}