div
    .modal-header
        span.h5.modal-title #{message.tag}
    .modal-body
        .row.row-padded
            .col-xs-12(style="word-wrap:break-word;word-break:break-all")
                ng-form(name="validate")
                    .row
                        .col-xs-12
                            .form-group
                                label.control-label(for="tag") #{message.tag}
                                span(ng-messages="validate.tag.$error")
                                    span.error-message(ng-message="maxlength") #{message.long}
                                    span.error-message(ng-message="pattern") #{message.invalid}
                                input.form-control.no-zoom#tag(ng-model="tag", type="text", name='tag', ng-maxlength="50", ng-pattern="tag_escape")

            .col-xs-12
                include ../../../../../systems/common/error_message

    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") #{message.cancel}
                    button.btn.btn-primary(type="button" ,ng-click='answer();validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") #{message.ok}