div
    .modal-header
        span.h5.modal-title #{message.checkbox}
    .modal-body
        .row.row-padded
            .col-xs-12(style="word-wrap:break-word;word-break:break-all")
                ng-form(name="validate")
                    .row
                        .col-xs-12
                            .form-group
                                label(for="name") #{message.key}
                                span(ng-messages="validate.title.$error")
                                    span.error-message(ng-message="required") #{message.required}
                                    span.error-message(ng-message="maxlength") #{message.long}
                                    span.error-message(ng-message="pattern") #{message.invalid}
                                input.form-control.no-zoom#name(ng-model="key", type="text", name='title', required, ng-maxlength="50", ng-pattern="key_escape")

            .col-xs-12.text-center
                .error-message(style="text-align:center;font-size:1.3rem;margin-top:1rem;font-weight:bold;") {{message}}

    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") #{message.cancel}
                    button.btn.btn-primary(type="button" ,ng-click='answer();validate.$dirty = false;', ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="") #{message.ok}