nav.navbar.navbar-fixed-top.navbar-default(role="navigation")
    .container-fluid
        .navbar-header
            button.btn-primary.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll.brand-font(href="/", ng-click="go('/')") #{message.layout}
                //i.ion-ios-analytics-outline(style="text-align:center;") #{type}
        #bs-navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                if user
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.layout}
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#", ng-click="CreateFromTemplate();", role="menuitem") #{message.create_from_template}
                            //li
                                a(href="#", ng-click="Open();") Open ...
                            li(ng-class="{disabled: !opened}")
                                a(href="#", ng-click="opened && Update();", role="menuitem") #{message.save}
                            li.divider
                            li(ng-class="{disabled: !opened}")
                                a(href="", ng-click="opened && UpdateAs();", role="menuitem") #{message.saveas}
                            li.divider
                            li(ng-class="{disabled: !opened}")
                                a(href="#", ng-click="opened && Delete();", role="menuitem") #{message.delete}
                    li.dropdown(ng-class="{disabled: !opened}")
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.print}
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="", ng-click="opened && PrintPDF();", role="menuitem") #{message.pdf}
                            li
                                a(href="", ng-click="opened && PrintSVG();", role="menuitem") #{message.svg}
                            li
                                a(href="", ng-click="opened && PrintPNG();", role="menuitem") #{message.png}