.modal-content
    .modal-header
        span.h5.modal-title #{message.create}
        span.pull-right
            button.btn.btn-box-tool(type='button', ng-click='cancel()')
                i.fas.fa-times
    .modal-body
        .row
            .col-xs-12(style="word-wrap:break-word;word-break:break-all")
                ng-form(name="validate")
                    .row
                        .col-xs-6
                            .form-group
                                label.control-label(for="namespace") #{message.namespace}
                                span(ng-messages="validate.namespace.$error")
                                    span.error-message(ng-message="required") #{message.required}
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#namespace(ng-change="SetNamespace(namespace)", ng-model="namespace", type="text", name='namespace', required, ng-maxlength="50")

                        .col-xs-6
                            .form-group
                                label.control-label(for="name") #{message.title}
                                span(ng-messages="validate.title.$error")
                                    span.error-message(ng-message="required") #{message.required}
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#name(ng-selected="true" ng-model="title", type="text", name='title', required, ng-maxlength="50")
                    .row
                        .col-xs-4
                            .form-group
                                label.control-label(for="type") #{message.type}
                                span(ng-messages="validate.type.$error")
                                    span.error-message(ng-message="required") #{message.required}
                                select.form-control.no-zoom#type(ng-model="type" required)
                                    option(value="20") #{message.page}
                                    option(value="21") #{message.template}
                        .col-xs-4
                            .form-group
                                label.control-label(for="presettype") select type
                                select.form-control.no-zoom#presettype(ng-model="presettype" ng-change="mimetype = presettype;")
                                    option text/html
                                    option text/css
                                    option text/javascript
                                    option application/json
                        .col-xs-4
                            .form-group
                                label.control-label(for="mimetype") #{message.mimetype}
                                span(ng-messages="validate.mimetype.$error")
                                    span.error-message(ng-message="required") #{message.required}
                                    span.error-message(ng-message="maxlength") #{message.long}
                                input.form-control.no-zoom#mimetype(ng-model="mimetype", type="text", name='mimetype', required, ng-maxlength="50")

        .row
            .col-xs-12
                include ../../../systems/common/error_message
    .modal-footer
        .row
            .col-xs-12
                .text-center(style="margin:2rem;")
                    button.btn.btn-warning(type="button", ng-click='cancel()', aria-label="") #{message.cancel}
                    button.btn.btn-primary(type="button" ,ng-click='answer();', ng-disabled="progress || validate.$invalid", aria-label="") #{message.ok}