.container
    .row(style="margin-top:20rem;")
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            if config.regist.user
                .box.box-primary
                    .box-header.with-border
                        .h3.box-title Register...
                    .box-body(style="font-weight: 500;")
                        .col-xs-10.col-xs-offset-1
                            ng-form(name="validate", ng-submit="Regist({})" style="height:100%;")
                                .row(style="text-align:left;")
                                    .col-xs-12.form-group
                                        label.control-label #{message.nickname}
                                        span(ng-messages="validate.displayName.$error")
                                            span.error-message(ng-message="required") Required fields.
                                            span.error-message(ng-message="maxlength") Please within 30 characters.
                                        input.center-block.form-control.no-zoom(ng-model='items.displayName', type='text', name='displayName', placeholder='xxxxxxx', required, ng-maxlength="30")

                                    .col-xs-12.form-group
                                        label.control-label #{message.mail}
                                        span(ng-messages="validate.username.$error")
                                            span.error-message(ng-message="required") Required fields.
                                            span.error-message(ng-message="pattern") Not a mail address format.
                                            span.error-message(ng-message="maxlength") Please within 256 characters.
                                        input.center-block.form-control.no-zoom(ng-model='items.username', type='email', name='username', placeholder='xxxxxxx@domain.net', required, ng-maxlength="256", ng-pattern="/^[a-z0-9-._.+]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i")

                                    .col-xs-12.form-group
                                        label.control-label #{message.password}
                                        span(ng-messages="validate.password.$error")
                                            span.error-message(ng-message="required") Required fields.
                                            span.error-message(ng-message="minlength") Please 4 or more characters.
                                            span.error-message(ng-message="maxlength") Please within 30 characters.
                                        input.center-block.form-control.no-zoom(ng-model="items.password", type="password", name="password", placeholder=message.over4under30, required, ng-minlength="4", ng-maxlength="30")

                                    .col-xs-12.form-group
                                        label.control-label #{message.retypepassword}
                                        span(ng-messages="validate.retypepassword.$error")
                                            span.error-message(ng-message="required") Required fields.
                                            span.error-message(ng-message="compareTo") Passwords do not match.
                                            span.error-message(ng-message="minlength") Please 4 or more characters.
                                            span.error-message(ng-message="maxlength") Please within 30 characters.
                                        input.center-block.form-control.no-zoom(ng-model="items.retypepassword", compare-to="items.password", type="password", name="retypepassword", placeholder=message.re_password_field, required, ng-minlength="4", ng-maxlength="30")
                                .row
                                    .col-xs-12
                                        .error-message(style="text-align:center;font-weight:bold;", ng-bind="message")
                                .row
                                    .col-xs-6.col-xs-offset-3
                                        button.btn.btn-success.col-xs-12(type="button", ng-click="Regist({});validate.$dirty = false;", ng-disabled="progress || validate.$invalid || !validate.$dirty", aria-label="")
                                            i.fa.fa-check
                                            span #{message.regist}
