nav.navbar.navbar-fixed-top.navbar-color(style="position:fixed;" role="navigation")
    .container-fluid
        .navbar-header
            button.btn-primary.navbar-toggle.collapsed.navbar-button(type='button', data-toggle='collapse', data-target='#bs-navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll.brand-font-local(href="/", ng-click="go('/')") #{message.brand}
        #bs-navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                if user
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.member}
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#", ng-click="showMemberDialog();", role="menuitem") #{message.request}

                    li.dropdown(ng-class="{disabled: opened}")
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.namespace} - {{namespace}} &nbsp;
                            i.fa.fa-caret-down(aria-hidden="true")
                        ul.dropdown-menu(role="menu")
                            li(ng-repeat="name in namespaces" ng-class="{active: name == namespace}")
                                a(ng-click="SetNamespace(name)") {{name}}
                    li
                        button.btn.btn-warning(type="button", style="margin:14px;", ng-click='OpenSetNamespaceDialog();', ng-disabled="opened", aria-label="") New #{message.namespace}