aside.main-sidebar.sidebar-color(ng-controller="LoginController")
    section.sidebar(style="margin-top:12px;")
        if user
            .user-panel(style="height:6rem;")
                .pull-left.image
                    img.img-circle(src="/files/api/" + user.userid + "/" + user.username, style="width:5rem;height:5rem;", alt='')
                .pull-left.info
                    p
                        a(href='#') #{user.local.nickname}
                    p
                        a(href='#')
                            i.fas.fa-circle.text-success
                            |  #{user.type}
            ul.sidebar-menu(style="font-weight: 500")
                li
                    a(href='/self')
                        i.fas.fa-user-circle.text-primary
                        span &nbsp; #{message.profile}
                if role.user
                    li
                        a(href="/pages")
                            i.fas.fa-file-alt.text-success
                            span &nbsp; #{message.page}
                li
                    a(href="/data")
                        i.fas.fa-database.text-primary
                        span &nbsp; #{message.article}
                li
                    a(href="/pictures")
                        i.fas.fa-file.text-success
                        span &nbsp; #{message.picture}
                li
                    a(href="/svg")
                        i.fas.fa-file-image.text-info
                        span &nbsp; #{message.illust}
                li
                    a(href="/blob")
                        i.fas.fa-file-alt.text-info
                        span &nbsp; #{message.blob}

                if role.user
                    if config.regist.member
                        li
                            a(href="/members")
                                i.fas.fa-user-plus.fa-fw.text-warning
                                span &nbsp; #{message.member}

                if role.categoly == 0
                    li
                        a(href='#', ng-click="showPasswordDialog()")
                            i.fas.fa-key.fa-fw.text-danger
                            span &nbsp; #{message.password}
                if role.system
                    li
                        a(href='/backoffice')
                            span.fa-stack
                                i.fas.fa-cog.fa-spin.text-info
                                i.fas.fa-cog.fa-spin.fa-rotate-180.text-danger
                            span &nbsp; #{message.backoffice}

                li
                    a(href="/pages/getall/{{namespace}}")
                        i.fas.fa-download.fa-fw.text-danger
                        span &nbsp; Backup &nbsp;({{namespace}})

                li
                    a(href='#', ng-click="Logout()")
                        i.fas.fa-sign-out-alt
                        span &nbsp; #{message.logout}
                //li
                    a(href='#')
                        input(type="checkbox" data-layout="sidebar-collapse")
                        span &nbsp;&nbsp;#{message.close}