div
    .row
        .col-xs-12
            include ../../systems/common/next_prev
    .row
        .col-sm-4.col-xs-6
            .form-group
                label(for="type") #{message.resourcetype}
                select.form-control.no-zoom#type(ng-model="type" ng-change="FindType(type);")
                    option(value="") #{message.all}
                    option(value="20") #{message.page}
                    option(value="21") #{message.template}
                    //option(value="22") #{message.module}
        .col-sm-4.col-xs-6
            .form-group
                label(for="mimetype") #{message.mimetype}

                select.form-control.no-zoom#mimetype(ng-model="mimetype" ng-options="mimetype for mimetype in all_mimetypes" ng-change="FindMime(mimetype);" required="")
                    option(value="") all

                //select.form-control.no-zoom#mimetype(ng-model="mimetype" ng-change="FindMime(mimetype);")
                    option(value="") all
                    option(value="text/html") text/html
                    option(value="text/css") text/css
                    option(value="text/javascript") text/javascript
                    option(value="application/json") application/json

        .col-sm-4.col-xs-12
            .form-group
                label(for="content") content
                input.form-control.no-zoom#content(ng-model="content", type="text", name='content' ng-change="FindResource(content);")

    .row
        div {{query_string_before}} - {{query_string_after}}


