nav.navbar.navbar-fixed-top.navbar-color-invert(role="navigation")
    .container-fluid
        .navbar-header
            button.btn-primary.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll.brand-font-local(href="/", ng-click="go('/')") #{message.brand}
        #bs-navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                if user
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.resource}
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#", ng-click="Create();", role="menuitem") #{message.create}
                            li
                                a(href="", ng-click="Open();") #{message.open}
                            li(ng-class="{disabled: !opened}")
                                a(href="", ng-click="opened && Update();", role="menuitem") #{message.save}
                            li.divider
                            li(ng-class="{disabled: !opened}" )
                                a(href="", ng-click="opened && Delete();", role="menuitem") #{message.delete}
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.edit}
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#", ng-click="Undo();", role="menuitem") #{message.undo}

                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.template}
                        ul.dropdown-menu(role="menu")

                            li(ng-repeat="template in templates")
                                a(href="#", ng-click="Paste(template._id);", role="menuitem") {{template.name}}
                            li.divider

                    //li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | #{message.preview}
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#", ng-click="OpenPreview();", role="menuitem") #{message.open}
