.box.box-primary(style="margin-top:12px;" ng-show="opened")
    .box-header.with-border
        .h7(ng-bind="name")
        .row
            .col-xs-1
                a.btn.btn-sm.btn-warning.pull-left(href= config.protocol + "://" + config.domain + "/{{userid}}/{{namespace}}/doc/{{name}}", target="_blank", type="button", aria-label="") Open
            .col-xs-10
                .well.well-sm(style="word-wrap:break-all;") #{config.protocol}://#{config.domain}/{{userid}}/{{namespace}}/doc/{{name}}
            .col-xs-1
                button.btn.btn-sm.btn-info(type='button', ng-click="Close();" )
                    i.fa.fa-times-circle
    .box-body
        .row-fluid
            .col-xs-12
                section.content
                    .row
                        .col-xs-12
                            div(style="font-size:2rem;color:#607D8B") #{message.article}
                    .row
                        .col-xs-12
                            div#draggable_area
                                .row
                                    .col-xs-12
                                        .box.box-primary
                                            .box-header
                                                .h6 page: {{current_page.name}}
                                                .h6 article: {{current_article.name}}
                                                .box-tools.pull-right
                                                    button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                                                        i.fa.fa-minus
                                            .box-body
                                                .flex-row
                                                    ul.flex-auto.nav.nav-tabs
                                                        li(ng-repeat="page in pages", ng-class="{active: hover || PageSelected(page.name)}")
                                                            a(ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="SelectPage(page.name);")
                                                                div(style="font-size:1.6rem;") {{page.name | limit:10}}


                                                ng-form(name="validate")
                                                    .row
                                                        .col-xs-12
                                                            button.btn.btn-info.pull-right(ng-disabled="progress || validate.$invalid", ng-click="SaveArticle();")
                                                                i.fa.fa-cloud
                                                                span.hidden-xs.hidden-sm #{message.save}
                                                    .row
                                                        .col-xs-12
                                                            #root
                                            .box-footer.clearfix
                                                div(ng-bind="message")
                                div
                                    include images

.box.box-primary(style="margin-top:12px;", ng-hide="opened", flow-init)
    .box-header.with-border
        div
            .box-tools.pull-right
                button.btn.btn-xs.btn-box-tool(type='button', data-widget='collapse')
                    i.fa.fa-minus
        div
            .box-tools.pull-right(flow-name="uploader.flow", flow-files-added="UplodArticles($files);")
                button.btn.btn-xs.btn-box-tool(flow-btn type="file")
                    i.fa.fa-plus-circle.text-primary
            div
                .row
                    .col-xs-12
                        include ../../../systems/common/next_prev
                .row
                    .col-sm-4.col-xs-6
                        .form-group
                            label(for="fieldname") fieldname
                            input.form-control.no-zoom#fieldname(ng-model="fieldname", type="text", name='fieldname')
                    .col-sm-4.col-xs-6
                        .form-group
                            label(for="content") content
                            input.form-control.no-zoom#content(ng-show="fieldname != ''" ng-model="content", type="text", name='content' ng-change="FindArticles(fieldname,content);")
                .row
                    div {{query_string_before}} - {{query_string_after}}

    .box-body(style="height:auto;min-height:80vh;background-color:#e6e6e6; box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3) inset", flow-drop, data-toggle="tooltip", data-placement="top", title=message.filedrop)
        ul.nav.nav-pills.draggable-objects(ng-cloak, style="min-height:120px")
            li(ng-repeat="article in articles")
                div(ng-class="{selected: hover}", ng-mouseenter="hover = true", ng-mouseleave="hover = false", style="height:12rem;width:16rem;margin-left:auto;margin-right:auto;")
                    a.btn.btn-success.btn-xs(download="{{article.name}}.json" ng-href="/articles/json/{{article._id}}", target="_blank")
                        i.fa.fa-cloud-download
                    div(style="height:8rem;", data-toggle="tooltip", data-placement="top", title="{{article.name}}", ng-click="SelectArticle(article._id)")
                        img.center-block.thumbnail(ng-src="{{article.content.type.value | icon}}", style="max-height: 8rem;max-width: 12rem;box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3)")
                    div(style="height:8rem;text-align:center;")
                        .row
                            .col-xs-12
                                div(style="word-wrap: break-word;", ng-bind="article.name | filename:10")

